
<div class="container">
  <div class="card">

    <img src="{{ eu.imageSource }}"
         alt="Me">
    
    <h3> {{ eu.nome }} </h3>
    <h4> {{ eu.profissao }} </h4>

    <div class="content">

      <p>As minhas cidades {{ eu.cidade }} </p>

      <p>O meu pet é {{ eu.pet }} e chamam-se {{ eu.petNome }} </p>

      <p>Tenho respirado {{ segundos() }} segundos!</p>

      <p>E as pessõas me chamam de {{ eu.chapa }} </p>

      <p>A comida da vovô é {{ eu.comida }} </p>

      <p>A música dos meus amores {{ eu.musica }} </p>

    </div>

    <div class="footer">
      <span> {{ eu.frase }} </span> <cite> {{ eu.cite }} </cite>
    </div>

  </div>
</div>